body {
  background-color: aqua; 
  font-family: Arial, Helvetica, sans-serif; 
}
.logo {
    text-align: center;
    margin-bottom: 50px;
}  
.loging form {
    width: 500px;
    padding: 50px;
    border: 10px solid #eee;
    border-radius:5px;

}  
.label {
    margin-bottom: 10px;
    font-weight: bold;
} 
.input[type="tex"],
.input[type="password"]{
    padding: 10px;
    border: none;
    border-radius:  5px;
    margin-bottom: 20px;
}
   




  
  
